body{
    margin:0 auto;
    background-color: beige;
    color:black;
    padding: 20px;
}
.completed{
    text-decoration: line-through;
}
ul{padding:20px 0;margin:0;}
ul li{list-style: none;padding-bottom: 10px;}
span{margin-right: 10px;}
